In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

import wrangle as w

In [2]:
zillow = w.wrangle_zillow()

In [3]:
zillow.head()

    bedrooms  bathrooms  square_feet  tax_value  year_built  taxamount    fips
6        3.0        4.0       1620.0   847770.0      2011.0   10244.94  6037.0
7        3.0        2.0       2077.0   646760.0      1926.0    7924.68  6037.0
18       3.0        1.0       1244.0   169471.0      1950.0    2532.88  6037.0
19       3.0        2.0       1300.0   233266.0      1950.0    3110.99  6037.0
20       3.0        2.0       1222.0   290492.0      1951.0    3870.25  6037.0

## 1.Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution .

## 2. Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?

## 3. Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler to your data. Visualize the result of your data scaling.

## 4. Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?

## 5. Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!